function BreakoutGame.new 0
    push constant 23
    call Memory.alloc 1
    pop pointer 0
    push constant 512
    pop this 10
    push constant 256
    pop this 11
    push constant 3
    pop this 12
    push constant 2
    pop this 13
    push constant 0
    pop this 14
    push constant 0
    pop this 15
    push constant 0
    pop this 16
    push constant 0
    pop this 17
    push constant 0
    pop this 18
    push constant 0
    pop this 19
    push constant 1
    neg
    pop this 20
    push constant 1
    neg
    pop this 21
    push constant 1
    neg
    pop this 22
    push constant 0
    pop this 3
    push constant 3
    pop this 4
    push constant 1
    pop this 5
    push constant 0
    pop this 6
    push constant 0
    pop this 7
    push constant 0
    pop this 8
    push constant 1
    neg
    pop this 9
    push constant 226
    push constant 230
    push constant 60
    push constant 8
    call Paddle.new 4
    pop this 0
    push constant 256
    push constant 200
    push constant 4
    call Ball.new 3
    pop this 1
    push constant 5
    push constant 10
    call BlockGrid.new 2
    pop this 2
    push pointer 0
    return
function BreakoutGame.run 1
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    call GameUI.showStartScreen 0
    pop temp 0
label BreakoutGame_0
    push this 9
    not
    if-goto BreakoutGame_1
    push this 17
    push constant 0
    eq
    not
    if-goto BreakoutGame_3
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 32
    eq
    not
    if-goto BreakoutGame_5
    push pointer 0
    call BreakoutGame.resetLevel 1
    pop temp 0
    push pointer 0
    call BreakoutGame.initialDraw 1
    pop temp 0
    push constant 1
    pop this 17
    push pointer 0
    call BreakoutGame.waitForKeyRelease 1
    pop temp 0
    goto BreakoutGame_4
label BreakoutGame_5
label BreakoutGame_4
    push local 0
    push constant 81
    eq
    not
    if-goto BreakoutGame_7
    push constant 0
    pop this 9
    goto BreakoutGame_6
label BreakoutGame_7
label BreakoutGame_6
    goto BreakoutGame_2
label BreakoutGame_3
label BreakoutGame_2
    push this 17
    push constant 1
    eq
    not
    if-goto BreakoutGame_9
    call Keyboard.keyPressed 0
    pop local 0
    push pointer 0
    push local 0
    call BreakoutGame.processInput 2
    pop temp 0
    push this 15
    push this 12
    call Math.divide 2
    push this 12
    call Math.multiply 2
    push this 15
    eq
    not
    if-goto BreakoutGame_11
    push pointer 0
    call BreakoutGame.updatePhysics 1
    pop temp 0
    push this 16
    push constant 1
    add
    pop this 16
    goto BreakoutGame_10
label BreakoutGame_11
label BreakoutGame_10
    push pointer 0
    call BreakoutGame.renderFrame 1
    pop temp 0
    push this 14
    not
    if-goto BreakoutGame_13
    push pointer 0
    call BreakoutGame.showDebugInfo 1
    pop temp 0
    goto BreakoutGame_12
label BreakoutGame_13
label BreakoutGame_12
    push this 1
    call Ball.getY 1
    push this 11
    gt
    not
    if-goto BreakoutGame_15
    push constant 2
    pop this 17
    goto BreakoutGame_14
label BreakoutGame_15
label BreakoutGame_14
    push this 2
    call BlockGrid.allBlocksDestroyed 1
    not
    if-goto BreakoutGame_17
    push constant 0
    pop this 18
    push constant 4
    pop this 17
    goto BreakoutGame_16
label BreakoutGame_17
label BreakoutGame_16
    goto BreakoutGame_8
label BreakoutGame_9
label BreakoutGame_8
    push this 17
    push constant 2
    eq
    not
    if-goto BreakoutGame_19
    push pointer 0
    call BreakoutGame.loseLifeTransition 1
    pop temp 0
    push constant 1
    pop this 17
    push this 6
    not
    if-goto BreakoutGame_21
    push constant 0
    pop this 19
    push constant 3
    pop this 17
    goto BreakoutGame_20
label BreakoutGame_21
label BreakoutGame_20
    goto BreakoutGame_18
label BreakoutGame_19
label BreakoutGame_18
    push this 17
    push constant 3
    eq
    not
    if-goto BreakoutGame_23
    push this 19
    not
    not
    if-goto BreakoutGame_25
    push this 3
    call GameUI.showGameOver 1
    pop temp 0
    push constant 1
    neg
    pop this 19
    goto BreakoutGame_24
label BreakoutGame_25
label BreakoutGame_24
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 81
    eq
    not
    if-goto BreakoutGame_27
    push constant 0
    pop this 9
    goto BreakoutGame_26
label BreakoutGame_27
label BreakoutGame_26
    push local 0
    push constant 128
    eq
    not
    if-goto BreakoutGame_29
    push pointer 0
    call BreakoutGame.resetGame 1
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    call GameUI.showStartScreen 0
    pop temp 0
    push constant 0
    pop this 19
    push constant 0
    pop this 17
    goto BreakoutGame_28
label BreakoutGame_29
label BreakoutGame_28
    goto BreakoutGame_22
label BreakoutGame_23
label BreakoutGame_22
    push this 17
    push constant 4
    eq
    not
    if-goto BreakoutGame_31
    push this 18
    not
    not
    if-goto BreakoutGame_33
    push this 3
    call GameUI.showVictory 1
    pop temp 0
    push constant 1
    neg
    pop this 18
    goto BreakoutGame_32
label BreakoutGame_33
label BreakoutGame_32
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 81
    eq
    not
    if-goto BreakoutGame_35
    push constant 0
    pop this 9
    goto BreakoutGame_34
label BreakoutGame_35
label BreakoutGame_34
    push local 0
    push constant 128
    eq
    not
    if-goto BreakoutGame_37
    push pointer 0
    call BreakoutGame.resetGame 1
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    call GameUI.showStartScreen 0
    pop temp 0
    push constant 0
    pop this 18
    push constant 0
    pop this 17
    goto BreakoutGame_36
label BreakoutGame_37
label BreakoutGame_36
    goto BreakoutGame_30
label BreakoutGame_31
label BreakoutGame_30
    push this 15
    push constant 1
    add
    pop this 15
    push this 13
    call Sys.wait 1
    pop temp 0
    goto BreakoutGame_0
label BreakoutGame_1
    push constant 0
    return
function BreakoutGame.processInput 0
    push argument 0
    pop pointer 0
    push argument 1
    push constant 130
    eq
    not
    if-goto BreakoutGame_39
    push this 0
    call Paddle.moveLeft 1
    pop temp 0
    goto BreakoutGame_38
label BreakoutGame_39
label BreakoutGame_38
    push argument 1
    push constant 132
    eq
    not
    if-goto BreakoutGame_41
    push this 0
    call Paddle.moveRight 1
    pop temp 0
    goto BreakoutGame_40
label BreakoutGame_41
label BreakoutGame_40
    push argument 1
    push constant 32
    eq
    not
    if-goto BreakoutGame_43
    push this 8
    not
    pop this 8
    push this 8
    not
    if-goto BreakoutGame_45
    call GameUI.showPauseScreen 0
    pop temp 0
    goto BreakoutGame_44
label BreakoutGame_45
label BreakoutGame_44
    push pointer 0
    call BreakoutGame.waitForKeyRelease 1
    pop temp 0
    goto BreakoutGame_42
label BreakoutGame_43
label BreakoutGame_42
    push argument 1
    push constant 81
    eq
    not
    if-goto BreakoutGame_47
    push constant 0
    pop this 9
    goto BreakoutGame_46
label BreakoutGame_47
label BreakoutGame_46
    push constant 0
    return
function BreakoutGame.updatePhysics 1
    push argument 0
    pop pointer 0
    push this 8
    not
    if-goto BreakoutGame_49
    push constant 0
    return
    goto BreakoutGame_48
label BreakoutGame_49
label BreakoutGame_48
    push this 1
    call Ball.move 1
    pop temp 0
    push pointer 0
    call BreakoutGame.checkWallCollisions 1
    pop temp 0
    push pointer 0
    call BreakoutGame.checkPaddleCollision 1
    pop temp 0
    push this 2
    push this 1
    call BlockGrid.checkCollision 2
    pop local 0
    push local 0
    push constant 0
    gt
    not
    if-goto BreakoutGame_51
    push this 3
    push local 0
    add
    pop this 3
    goto BreakoutGame_50
label BreakoutGame_51
label BreakoutGame_50
    push constant 0
    return
function BreakoutGame.renderFrame 0
    push argument 0
    pop pointer 0
    push pointer 0
    call BreakoutGame.drawHUDIfChanged 1
    pop temp 0
    push constant 0
    return
function BreakoutGame.drawHUDIfChanged 0
    push argument 0
    pop pointer 0
    push this 3
    push this 20
    eq
    not
    not
    if-goto BreakoutGame_53
    push this 3
    call GameUI.drawScore 1
    pop temp 0
    push this 3
    pop this 20
    goto BreakoutGame_52
label BreakoutGame_53
label BreakoutGame_52
    push this 4
    push this 21
    eq
    not
    not
    if-goto BreakoutGame_55
    push this 4
    call GameUI.drawLives 1
    pop temp 0
    push this 4
    pop this 21
    goto BreakoutGame_54
label BreakoutGame_55
label BreakoutGame_54
    push this 5
    push this 22
    eq
    not
    not
    if-goto BreakoutGame_57
    push this 5
    call GameUI.drawLevel 1
    pop temp 0
    push this 5
    pop this 22
    goto BreakoutGame_56
label BreakoutGame_57
label BreakoutGame_56
    push constant 0
    return
function BreakoutGame.drawHUD 0
    push argument 0
    pop pointer 0
    push this 3
    call GameUI.drawScore 1
    pop temp 0
    push this 4
    call GameUI.drawLives 1
    pop temp 0
    push this 5
    call GameUI.drawLevel 1
    pop temp 0
    push this 3
    pop this 20
    push this 4
    pop this 21
    push this 5
    pop this 22
    push constant 0
    return
function BreakoutGame.initialDraw 0
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push this 2
    call BlockGrid.draw 1
    pop temp 0
    push this 0
    call Paddle.draw 1
    pop temp 0
    push this 1
    call Ball.draw 1
    pop temp 0
    push pointer 0
    call BreakoutGame.drawHUD 1
    pop temp 0
    push constant 0
    return
function BreakoutGame.checkWallCollisions 4
    push argument 0
    pop pointer 0
    push this 1
    call Ball.getX 1
    pop local 0
    push this 1
    call Ball.getY 1
    pop local 1
    push this 1
    call Ball.getRadius 1
    pop local 2
    push this 1
    call Ball.getVelocityY 1
    pop local 3
    push local 0
    push local 2
    lt
    not
    if-goto BreakoutGame_59
    push this 1
    call Ball.bounceHorizontal 1
    pop temp 0
    push this 1
    push local 2
    push constant 1
    add
    call Ball.setX 2
    pop temp 0
    goto BreakoutGame_58
label BreakoutGame_59
label BreakoutGame_58
    push local 0
    push this 10
    push local 2
    sub
    gt
    not
    if-goto BreakoutGame_61
    push this 1
    call Ball.bounceHorizontal 1
    pop temp 0
    push this 1
    push this 10
    push local 2
    sub
    push constant 1
    sub
    call Ball.setX 2
    pop temp 0
    goto BreakoutGame_60
label BreakoutGame_61
label BreakoutGame_60
    push local 1
    push local 2
    push constant 20
    add
    lt
    push local 3
    push constant 0
    lt
    and
    not
    if-goto BreakoutGame_63
    push this 1
    call Ball.bounceVertical 1
    pop temp 0
    push this 1
    push local 2
    push constant 22
    add
    call Ball.setY 2
    pop temp 0
    goto BreakoutGame_62
label BreakoutGame_63
label BreakoutGame_62
    push constant 0
    return
function BreakoutGame.checkPaddleCollision 2
    push argument 0
    pop pointer 0
    push this 1
    push this 0
    call CollisionDetector.checkBallPaddle 2
    not
    if-goto BreakoutGame_65
    push this 1
    call Ball.bounceVertical 1
    pop temp 0
    push this 1
    call Ball.getY 1
    pop local 0
    push this 0
    call Paddle.getY 1
    pop local 1
    push local 0
    push local 1
    push constant 8
    sub
    gt
    not
    if-goto BreakoutGame_67
    push this 1
    push local 1
    push constant 8
    sub
    call Ball.setY 2
    pop temp 0
    goto BreakoutGame_66
label BreakoutGame_67
label BreakoutGame_66
    goto BreakoutGame_64
label BreakoutGame_65
label BreakoutGame_64
    push constant 0
    return
function BreakoutGame.loseLifeTransition 0
    push argument 0
    pop pointer 0
    push this 4
    push constant 1
    sub
    pop this 4
    push this 4
    push constant 0
    gt
    not
    if-goto BreakoutGame_69
    push this 1
    call Ball.erase 1
    pop temp 0
    push this 0
    call Paddle.erase 1
    pop temp 0
    push this 1
    push constant 256
    push constant 200
    call Ball.reset 3
    pop temp 0
    push this 0
    push constant 226
    push constant 230
    call Paddle.reset 3
    pop temp 0
    push this 1
    call Ball.draw 1
    pop temp 0
    push this 0
    call Paddle.draw 1
    pop temp 0
    push constant 400
    call Sys.wait 1
    pop temp 0
    goto BreakoutGame_68
label BreakoutGame_69
    push constant 1
    neg
    pop this 6
    call Screen.clearScreen 0
    pop temp 0
label BreakoutGame_68
    push constant 0
    return
function BreakoutGame.resetLevel 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 256
    push constant 200
    call Ball.reset 3
    pop temp 0
    push this 0
    push constant 226
    push constant 230
    call Paddle.reset 3
    pop temp 0
    push this 2
    call BlockGrid.reset 1
    pop temp 0
    push constant 0
    pop this 8
    push constant 0
    return
function BreakoutGame.resetGame 0
    push argument 0
    pop pointer 0
    push constant 0
    pop this 3
    push constant 3
    pop this 4
    push constant 1
    pop this 5
    push constant 0
    pop this 6
    push constant 0
    pop this 7
    push constant 0
    pop this 8
    push constant 0
    pop this 15
    push constant 0
    pop this 16
    push pointer 0
    call BreakoutGame.resetLevel 1
    pop temp 0
    push constant 0
    return
function BreakoutGame.waitForKeyRelease 1
    push argument 0
    pop pointer 0
    call Keyboard.keyPressed 0
    pop local 0
label BreakoutGame_70
    push local 0
    push constant 0
    eq
    not
    not
    if-goto BreakoutGame_71
    call Keyboard.keyPressed 0
    pop local 0
    push constant 10
    call Sys.wait 1
    pop temp 0
    goto BreakoutGame_70
label BreakoutGame_71
    push constant 0
    return
function BreakoutGame.showDebugInfo 0
    push argument 0
    pop pointer 0
    push constant 0
    push constant 50
    call Output.moveCursor 2
    pop temp 0
    push constant 2
    call String.new 1
    push constant 70
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push this 15
    call Output.printInt 1
    pop temp 0
    push constant 1
    push constant 50
    call Output.moveCursor 2
    pop temp 0
    push constant 2
    call String.new 1
    push constant 84
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push this 16
    call Output.printInt 1
    pop temp 0
    push constant 0
    return
function BreakoutGame.addScore 0
    push argument 0
    pop pointer 0
    push this 3
    push argument 1
    add
    pop this 3
    push constant 0
    return
function BreakoutGame.getScore 0
    push argument 0
    pop pointer 0
    push this 3
    return
function BreakoutGame.dispose 0
    push argument 0
    pop pointer 0
    push this 0
    call Paddle.dispose 1
    pop temp 0
    push this 1
    call Ball.dispose 1
    pop temp 0
    push this 2
    call BlockGrid.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return