function Paddle.new 0
    push constant 7
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push argument 3
    pop this 3
    push constant 5
    pop this 4
    push constant 0
    pop this 5
    push constant 512
    push this 2
    sub
    pop this 6
    push pointer 0
    return
function Paddle.draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Paddle.erase 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Paddle.moveLeft 1
    push argument 0
    pop pointer 0
    push this 0
    pop local 0
    push this 0
    push this 5
    push this 4
    add
    gt
    not
    if-goto Paddle_1
    push this 0
    push this 4
    sub
    pop this 0
    goto Paddle_0
label Paddle_1
    push this 5
    pop this 0
label Paddle_0
    push this 0
    push local 0
    eq
    not
    not
    if-goto Paddle_3
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 0
    push this 1
    push local 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Paddle_2
label Paddle_3
label Paddle_2
    push constant 0
    return
function Paddle.moveRight 1
    push argument 0
    pop pointer 0
    push this 0
    pop local 0
    push this 0
    push this 6
    push this 4
    sub
    lt
    not
    if-goto Paddle_5
    push this 0
    push this 4
    add
    pop this 0
    goto Paddle_4
label Paddle_5
    push this 6
    pop this 0
label Paddle_4
    push this 0
    push local 0
    eq
    not
    not
    if-goto Paddle_7
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push local 0
    push this 1
    push local 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    goto Paddle_6
label Paddle_7
label Paddle_6
    push constant 0
    return
function Paddle.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Paddle.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Paddle.getWidth 0
    push argument 0
    pop pointer 0
    push this 2
    return
function Paddle.getHeight 0
    push argument 0
    pop pointer 0
    push this 3
    return
function Paddle.getCenterX 0
    push argument 0
    pop pointer 0
    push this 0
    push this 2
    push constant 2
    call Math.divide 2
    add
    return
function Paddle.contains 0
    push argument 0
    pop pointer 0
    push argument 1
    push this 0
    gt
    push argument 1
    push this 0
    push this 2
    add
    lt
    and
    not
    if-goto Paddle_9
    push argument 2
    push this 1
    gt
    push argument 2
    push this 1
    push this 3
    add
    lt
    and
    not
    if-goto Paddle_11
    push constant 1
    neg
    return
    goto Paddle_10
label Paddle_11
label Paddle_10
    goto Paddle_8
label Paddle_9
label Paddle_8
    push constant 0
    return
function Paddle.reset 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Paddle.erase 1
    pop temp 0
    push argument 1
    pop this 0
    push argument 2
    pop this 1
    push pointer 0
    call Paddle.draw 1
    pop temp 0
    push constant 0
    return
function Paddle.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return